@use './variables'as var;

/*--------------------------------------------------------------
   Explore
--------------------------------------------------------------*/

.explore {

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2.5rem;
  }

  &__item {
    display: grid;
    justify-items: center;

    i {
      border-radius: 50%;
      color: #fff;
      width: 50px;
      height: 50px;
      display: grid;
      place-items: center;
    }

    //all i color loop
    @for $i from 1 through 6 {
      &:nth-of-type(#{$i}) i {
        background-color: hsl((155 + $i * 45), 81%, 40%);
      }
    }

    p {
      font-weight: 600;
      margin-top: 8px;
    }

  }
}