@use './variables'as var;

/*--------------------------------------------------------------
   Footer
--------------------------------------------------------------*/

.footer {
   width: 100vw;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   // overflow-x: auto;

   &__nav {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      text-align: center;
   }

   &__nav-item {
      font-size: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding: 8px 5px;
      color: lighten(var.$dark, 10);

      &.active {
         color: var.$primary-color;
      }

      &:hover {
         text-decoration: none;
      }

      i {
         font-size: 1.25rem;
         padding-bottom: 4px;
      }
   }

   &__nav-item--explore {
      margin-top: -28px;

      i {
         width: 53px;
         height: 52px;
         padding-top: 4px;
         position: relative;
         display: grid;
         place-items: center;
         border-radius: 50%;
         font-size: 38px;
         font-weight: 400;
         bottom: 8px;
         background: var.$white;
         box-shadow: var.$box-shadow;

         &::after {
            content: '';
            width: 8px;
            height: 8px;
            background: red;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 7px;
         }
      }
   }

}