//scss color start
$primary-color: #239be7;
$secondary-color: #26824c;
$accent-color: #36637d;
$white: #fff;
$dark:#444;
$gray: #808080;
//scss color end

// sass box-shadow
$box-shadow: 0px -1px 0px 0px rgb(0 0 0 / 10%), 0px 2px 2px 1px rgb(0 0 0 / 15%);


// scss spacer start
$spacer: 1rem !default;

// scss spacer end


